*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    font-family: Arial;
    font-size:16px;
    margin:0;
    background:linear-gradient(to right bottom,#3cffe5,#f10bac);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    color:#000;
}

.voice-to-text{
    width:600px;
    text-align: center;
}


#convert_text{
    width:100%;
    height:200px;
    border-radius: 10px;
    resize:none;
    padding:10px;
    font-size:20px;
    margin-bottom:10px;
    background-color: #f3bd48; 

}


h1{
    font-size:50px;
    color:#fff;
}

button{
    padding:12px 20px;
    background:#0ea4da;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}